<footer class="site-footer">
    <div class="container">
        {% block footer_content %}
        <div class="row mb-4">
            <div class="col-12 col-md-8">
                <img src="/img/logos/logo.svg" alt="MICITT Costa Rica" class="img-fluid" width="400px">
                <div class="d-flex gap-2">
                    <a href="https://www.facebook.com/micitcr" target="_blank" class="social-icon">
                        <span class="fa-stack">
                            <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                    <a href="https://x.com/micittcr" target="_blank" class="social-icon">
                        <span class="fa-stack">
                            <i class="fab fa-x-twitter fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                    <a href="https://www.instagram.com/micittcr/" target="_blank" class="social-icon">
                        <span class="fa-stack">
                            <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                    <a href="https://www.youtube.com/user/micitcrc" target="_blank" class="social-icon">
                        <span class="fa-stack">
                            <i class="fab fa-youtube fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <h5>Secciones</h5>
                <ul class="list-unstyled text-white">
                    <li><a href="/pages/politicas-de-privacidad">Políticas de Privacidad</a></li>
                    <li><a href="/pages/normativas">Normativas</a></li>
                    <li><a href="/pages/habilitacion-en-datos-gob">Habilitación en datos.gob</a></li>
                    <li><a href="/pages/notificar-error">Notificar error</a></li>
                </ul>
            </div>
        </div>
        {% endblock %}
    </div>
</footer>

<div class="orgs-footer">
    <div class="">
        <div class="row mb-4 align-items-center justify-content-around">
            <div class="col-auto text-center">
                <img src="/img/logos/ckan_logo.webp" alt="CKAN" class="img-fluid">
            </div>
            <div class="col-auto text-center d-flex align-items-center">
                <img src="/img/logos/OEA.gif" alt="OEA">
            </div>
            <div class="col-auto text-center d-flex align-items-center">
                <img src="/img/logos/ODC_Logo.svg" alt="ODC">
            </div>
            <div class="col-auto text-center d-flex align-items-center">
                <p class="fs-5">Gracias al apoyo de:</p>
                <a href="https://www.caf.com/" target="_blank">
                    <img src="/img/logos/CAF.svg" alt="CAF – Banco de Desarrollo de América Latina y el Caribe" class="img-fluid w-full" width="240px">
                </a>
            </div>
            <div class="col-auto text-center d-flex align-items-center">
                <p class="fs-5">Con la asistencia técnica:</p>
                <img src="/img/logos/red-ciudadana-logo.png" alt="Red Ciudadana">
            </div>
        </div>
    </div>
</div>